<footer class="footer">
    <div class="footer__content _container">
        <div class="footer__row">
            <div class="footer__social">
                <a href="#" class="footer__link">
                    <img src="../../../../../assets/img/footer/fb.svg" alt="fb">
                </a>
                <a href="#" class="footer__link">
                    <img src="../../../../../assets/img/footer/Group.svg" alt="Group">
                </a>
                <a href="#" class="footer__link">
                    <img src="../../../../../assets/img/footer/insta.svg" alt="insta">
                </a>
                <a href="#" class="footer__link">
                    <img src="../../../../../assets/img/footer/Linkedin.svg" alt="Linkedin">
                </a>
            </div>
            <div class="footer__text">Copyright ©2020 All rights reserved </div>
        </div>
    </div>
</footer>