.footer {
    padding: 54px 0px;
    &__content {
        
    }

    &__row {
        margin: 0px 20px;
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px -35px;
        @media (max-width: 992px) {
            margin: 0px -25px;
        }
        @media (max-width: 676px) {
            margin: 0px -18px;
        }
        @media (max-width: 375px) {
            margin: 0px -10px;
        }
    }
    &__link {
        padding: 0px 35px;
        @media (max-width: 992px) {
            padding: 0px 25px;
        }
        @media (max-width: 676px) {
            padding: 0px 18px;
        }
        @media (max-width: 375px) {
            padding: 0px 10px;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 21/14*100%;
        text-align: center;
        margin-top: 26px;
        @media (max-width: 992px) {
            font-size: 13px;
            margin-top: 23px;
        }
        @media (max-width: 375px) {
            font-size: 11px;
            margin-top: 18px;
        }
    }
    @media (max-width: 992px) {
        padding: 34px 0px;
    }
    @media (max-width: 375px) {
        padding: 80px 0px 34px 0px;
    }
    
}

