<div class="page__work work">
    <div class="work__content _container1">
        <div class="work__row">
            <div class="work__title">Work</div>
            <div class="work__column">
                <div class="work__body">
                    <div class="work__image">
                        <img src="../../../assets/img/work/Rectangle30.jpg" alt="Rectangle">
                    </div>
                    <div class="work__item item-work">
                        <div class="item-work__title">Designing Dashboards</div>
                        <div class="item-work__data">
                            <div class="item-work__date">2020</div>
                            <div class="item-work__info">Dashboard</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="work__body">
                    <div class="work__image">
                        <img src="../../../assets/img/work/Rectangle32.jpg" alt="Rectangle">
                    </div>
                    <div class="work__item item-work">
                        <div class="item-work__title">Vibrant Portraits of 2020</div>
                        <div class="item-work__data">
                            <div class="item-work__date">2018</div>
                            <div class="item-work__info">Illustration</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="work__body work__disabled">
                    <div class="work__image">
                        <img src="../../../assets/img/work/Rectangle34.jpg" alt="Rectangle">
                    </div>
                    <div class="work__item item-work">
                        <div class="item-work__title">36 Days of Malayalam type</div>
                        <div class="item-work__data">
                            <div class="item-work__date">2018</div>
                            <div class="item-work__info">Typography</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="work__body work__disabled">
                    <div class="work__image">
                        <img src="../../../assets/img/work/Rectangle40.jpg" alt="Rectangle">
                    </div>
                    <div class="work__item item-work">
                        <div class="item-work__title">Components</div>
                        <div class="item-work__data">
                            <div class="item-work__date">2018</div>
                            <div class="item-work__info">Components, Design</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>