<div class="page__blog blog">
    <div class="blog__content _container1">
        <div class="blog__row">
            <h1 class="blog__title">Blog</h1>
            <div class="blog__column">
                <div class="blog__item item-blog">
                    <div class="item-blog__title">UI Interactions of the week</div>
                    <div class="item-blog__data">
                        <div class="item-blog__date">12 Feb 2019</div>
                        <div class="item-blog__info">Express, Handlebars</div>
                    </div>
                    <div class="item-blog__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
                <div class="blog__item item-blog">
                    <div class="item-blog__title">UI Interactions of the week</div>
                    <div class="item-blog__data">
                        <div class="item-blog__date">12 Feb 2019</div>
                        <div class="item-blog__info">Express, Handlebars</div>
                    </div>
                    <div class="item-blog__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
                <div class="blog__item item-blog">
                    <div class="item-blog__title">UI Interactions of the week</div>
                    <div class="item-blog__data">
                        <div class="item-blog__date">12 Feb 2019</div>
                        <div class="item-blog__info">Express, Handlebars</div>
                    </div>
                    <div class="item-blog__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
                <div class="blog__item item-blog">
                    <div class="item-blog__title">UI Interactions of the week</div>
                    <div class="item-blog__data">
                        <div class="item-blog__date">12 Feb 2019</div>
                        <div class="item-blog__info">Express, Handlebars</div>
                    </div>
                    <div class="item-blog__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                </div>
            </div>
        </div>
    </div>
</div>