.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.header__content {
  max-width: 1032px;
  margin: 0px auto;
  padding: 0px 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 375px) {
  .menu__body {
    border-radius: 0px 0px 8px 8px;
    transform: translate(0px, -100%);
    transition: all 1s ease;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
  }
  .menu__body._active {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 1s ease;
  }
}
.menu__icon {
  z-index: 1;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 83px;
  padding: 10px 0px;
}
@media (max-width: 375px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
}
.menu__list > *:not(:last-child) {
  margin-right: 36px;
}
@media (max-width: 992px) {
  .menu__list > *:not(:last-child) {
    margin-right: 26px;
  }
}
@media (max-width: 375px) {
  .menu__list > *:not(:last-child) {
    margin-right: 0;
  }
}
.menu__dropdown {
  position: relative;
  cursor: pointer;
}
.menu__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  text-align: right;
  color: #000000;
}
@media (max-width: 992px) {
  .menu__link {
    font-size: 16px;
    line-height: 181.25%;
  }
}
@media (max-width: 375px) {
  .menu__link {
    font-size: 20px;
    line-height: 181.25%;
    transition: all 1s ease;
  }
}

.active .menu__link {
  color: #db5dab;
}

.dropdown-menu {
  position: absolute;
  transform: translate(0px, -200%);
  transition: all 1s ease;
  background-color: #e7a5ce;
  border-radius: 5px;
  overflow: hidden;
  top: 30px;
  right: 0px;
  opacity: 0;
}
.dropdown-menu__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  padding: 2px 50px 2px 5px;
  line-height: 150%;
  color: inherit;
}
.dropdown-menu__link:hover {
  background-color: #db5dab;
  color: #000000;
}
@media (max-width: 375px) {
  .dropdown-menu {
    transform: translate(-100%, 7px);
    top: 0;
    right: -70px;
  }
  .dropdown-menu__link {
    font-weight: 500;
    font-size: 20px;
    padding: 2px 50px 2px 5px;
    line-height: 145%;
    color: inherit;
  }
  .dropdown-menu__link:hover {
    background-color: #db5dab;
    color: #000000;
  }
}

._open .dropdown-menu {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: all 1s ease;
}
@media (max-width: 375px) {
  ._open .dropdown-menu {
    opacity: 1;
    transform: translate(65px, 7px);
    transition: all 1s ease;
  }
}
@media (max-width: 375px) {
  ._open .menu__link {
    padding-bottom: 40px;
    transition: all 1s ease;
  }
}

@media (max-width: 375px) {
  .icon-menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 16px;
    width: 30px;
    height: 20px;
  }
  .icon-menu span {
    transition: all 0.3s ease;
    position: absolute;
    height: 2px;
    background-color: #828282;
    width: 100%;
    top: 9px;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    transition: all 0.3s ease;
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    top: 9px;
    transform: rotate(-45deg);
  }
  .icon-menu._active span:last-child {
    bottom: 9px;
    transform: rotate(45deg);
  }
}