<div class="page__designe designe">
    <div class="designe__content _container1">
        <div class="designe__title">Designing Dashboards with usability in mind</div>
        <div class="designe__data">
            <div class="designe__date">2020</div>
            <div class="designe__info">Dashboard, User Experience Design</div>
        </div>
        <div class="designe__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
        <div class="designe__image _ibg">
            <img src="../../../assets/img/designe/Rectangle4.jpg" alt="Rectangle">
        </div>
    </div>
</div>
<div class="page__heading heading">
    <div class="heading__content _container1">
        <div class="heading__title1">Heading 1</div>
        <div class="heading__title2">Heading 2</div>
        <div class="heading__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
        <div class="heading__images">
            <div class="heading__image _ibg">
                <img src="../../../assets/img/designe/Rectangle5.jpg" alt="Rectangle5">
            </div>
            <div class="heading__image _ibg">
                <img src="../../../assets/img/designe/Rectangle6.jpg" alt="Rectangle6">
            </div>
        </div>
    </div>
</div>