<div class="page__main main">
    <div class="main__content _container">
        <div class="main__row">
            <div class="main__column">
                <div class="main__item item-main">
                    <h1 class="item-main__title">Hi, I am John,
                        Creative Technologist</h1>
                    <p class="item-main__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <a href="" class="item-main__button">Download Resume</a>
                </div>
                <div class="main__img">
                    <img src="../../../assets/img/main/John.jpg" alt="John">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="page__recent recent">
    <div class="recent__content _container">
        <div class="recent__row">
            <div class="recent__top">
                <div class="recent__title">Recent posts</div>
                <div class="recent__text">View all</div>
            </div>
            <div class="recent__body">
                <div class="recent__column">
                    <div class="recent__item item-recent">
                        <div class="item-recent__title">Making a design system from scratch</div>
                        <div class="item-recent__data">
                            <div class="item-recent__date">12 Feb 2020</div>
                            <div class="item-recent__info">Design, Pattern</div>
                        </div>
                        <div class="item-recent__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="recent__column">
                    <div class="recent__item item-recent">
                        <div class="item-recent__title">Creating pixel perfect icons in Figma</div>
                        <div class="item-recent__data">
                            <div class="item-recent__date">12 Feb 2020</div>
                            <div class="item-recent__info">Design, Pattern</div>
                        </div>
                        <div class="item-recent__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page__works works">
    <div class="works__content _container">
        <div class="works__row">
            <div class="works__title">Featured works</div>
            <div class="works__body">
                <div class="works__column">
                    <a class="works__image">
                        <img src="../../../assets/img/featured/Rectangle30.jpg" alt="Rectangle">
                    </a>
                    <div class="works__item item-work">
                        <h3 class="item-work__title">Designing Dashboards</h3>
                        <div class="item-work__data">
                            <div class="item-work__year">2020</div>
                            <div class="item-work__info">Dashboard</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="works__column">
                    <a class="works__image">
                        <img src="../../../assets/img/featured/Rectangle32.jpg" alt="Rectangle32">
                    </a>
                    <div class="works__item item-work">
                        <h3 class="item-work__title">Vibrant Portraits of 2020</h3>
                        <div class="item-work__data">
                            <div class="item-work__year">2018</div>
                            <div class="item-work__info">Illustration</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
                <div class="works__column">
                    <a class="works__image">
                        <img src="../../../assets/img/featured/Rectangle34.jpg" alt="Rectangle34">
                    </a>
                    <div class="works__item item-work">
                        <h3 class="item-work__title">36 Days of Malayalam type</h3>
                        <div class="item-work__data">
                            <div class="item-work__year">2018</div>
                            <div class="item-work__info">Typography</div>
                        </div>
                        <div class="item-work__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
