<div class="page__main main">
    <div class="main__content _container">
        <div class="main__row">
            <div class="main__column">
                <div class="main__item item-main">
                    <h1 class="item-main__title">Hi, I am John,
                        Creative Technologist</h1>
                    <p class="item-main__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    <a href="" class="item-main__button">Download Resume</a>
                </div>
                <div class="main__img">
                    <img src="../../../assets/img/main/John.jpg" alt="John">
                </div>
            </div>
        </div>
    </div>
</div>